*{
  box-sizing: border-box;
}
body{
  background: #f2efeb;
}
.page-wrapper{
  display: flex;
  flex-direction: column-reverse;
  min-height: 95vh;
  justify-content: flex-end;
}
main.home{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}
.img-row{
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  padding: 3vw;
}
.img-wrapper{
  flex: 1 1 59.5%;
}
.img-wrapper:first-child{
  margin-right: 3vw;
}
.img-wrapper:last-child{
  flex: 1 1 40.5%
}
.img-row img{
  max-width: 100%;
  /* border: 1px solid #b9a895; */
}
header{
  margin-top: auto;
  display: flex;
  flex-direction: row;
  padding: 3vw;
  padding-bottom: 0px;
}
header .logo{
  width: 40vw;
  height: 13vw;
  margin-right: auto;
}
.content{
  margin-top: auto;
}
header nav{
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  padding-left: 5vw;
}
header nav a{
  font-family: 'Playfair Display', serif;
  font-size: 3vw;
  margin: 1vw;
  color: #514333;
  text-decoration: none;
  /* font-weight: 400; */
}
header nav a:last-child{
  margin-right: 0px;
}
